

body {
    background: grey;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-size: 18px;
    border-top: 2px;
    border-bottom: 2px;
    border-left: 2px;
    border-right: 2px;
    border-style: dashed;
    box-sizing: border-box;
    box-shadow: darkgray;
    text-align: center;
}

ul {
    list-style: none;
    
}

li {
    text-align: justify;
    padding: 2px;
}

body {
    border: 2px;
    border-color: black;
    box-shadow: 2px;
    border-style: groove;
    padding: 10px;
}